* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

    nav ul {
        display: inline-block;
        list-style-type: none;
    }

        nav ul li {
            display: inline-block;
            margin-right: 20px;
        }

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 60px;
    padding-right: 60px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logo h1{
    color: #fff;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

    .col-2 img {
        max-width: 100%;
        padding: 50px 0;
    }

    .col-2 h1 {
        font-size: 50px;
        line-height: 60px;
        margin: 25px 0;
        color: #fff;
    }

.btn {
    display: inline-block;
    background: #2EA74E;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

    .btn:hover {
        background: #1b642e;
    }

.header {
    background: #001F5A;
}

    .header .row {
        margin-top: 70px;
    }

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 125px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

    .col-4 img {
        width: 100%;
    }

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

    .title:after {
        content: '';
        background: #2EA74E;
        width: 80px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.col-4:hover {
    transform: translateY(-5px);
}

/*---------- offer ----------*/
.offer {
    background: #001F5A;
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img {
    padding: 50px;
}

small {
    color: #555;
}

/*---------- footer ----------*/
.footer {
    background: #fff;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

    .footer p {
        color: #8a8a8a;
    }

    .footer h3 {
        color: #555;
        margin-bottom: 5px;
    }

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

    .footer-col-2 img {
        width: 180px;
        margin-bottom: 20px;
    }

    .footer-col-2 h1{
        color: #555;
    }

.footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 0px;
}

    .app-logo img {
        width: 140px;
    }

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}
